body, html {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    display:flex;
    justify-content: center;
}
.contenido {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.fila {
    background-color: pink;
    display:flex;
}

.tile {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
}

#contenedor {
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

#resizeButton {
    padding: 20px;
}