body, html {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.fila {
    background-color: pink;
    display:flex;
}

.tile {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: cyan;
}

#contenedor {
    width: 500px;
    height: 500px;
}